<!-- start page title -->
<app-pagetitle title="Products" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<!-- start top menu row -->
<div class="row align-items-center">
  <div class="col-md-6">
    <div class="row mb-2 align-items-center">
      <!-- Page Size -->
      <label class="col-sm-1 col-form-label">Show</label>
      <div class="col-sm-2 ng-custom">
        <ng-select class="close-d-none" name="pageSize" [(ngModel)]="pageSize" inputmode="false">
          <ng-option *ngFor="let page_size of pageSizes" [value]="page_size">{{page_size}}</ng-option>
        </ng-select>
      </div>
      <label class="col-sm-1 col-form-label">Entries</label>
      <!-- End Page Size -->
    </div>
  </div>

  <div class="col-md-6">
    <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
      <div>
        <button class="btn btn-primary btn-sm" (click)="openModel()"><i class="bx bx-plus me-1"></i> Add New</button>
      </div>
      <div>
        <button class="btn btn-outline-info btn-sm"  (click)="openInformationModel()"><i class="bx bx bx-info-circle"></i></button>
      </div>
      <div>
        <button class="btn btn-outline-warning btn-sm"><i class="bx bx bx-cog"></i></button>
      </div>
      <div class="dropdown" ngbDropdown container="body">
        <a class="btn btn-link text-muted py-1 font-size-16 shadow-none dropdown-toggle"
           href="javascript:void(0);" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
          <i class="bx bx-dots-horizontal-rounded"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
          <li><a class="dropdown-item" href="javascript:void(0);"><i class="bx bxs-file-blank"></i> Import Template</a></li>
          <li><a class="dropdown-item" href="javascript:void(0);"><i class="bx bxs-file-doc"></i> Import Products</a></li>
          <li><small class="menu-title">Reports</small></li>
          <li><a class="dropdown-item" href="javascript:void(0);"><i class="bx bxs-report"></i> Products</a></li>
          <li><a class="dropdown-item" href="javascript:void(0);"><i class="bx bxs-report"></i> Trending Products</a></li>
          <li><a class="dropdown-item" href="javascript:void(0);"><i class="bx bxs-report"></i> Expiration Products</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end top menu row -->

<!-- start content row -->
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <!-- Search -->
      <form (ngSubmit)="getProducts()" [formGroup]="filterForm" class="d-flex">
        <div class="col-sm-3">
          <input type="text" class="form-control form-control-sm" placeholder="keyword....." formControlName="keyword">
        </div>
        <div class="col-sm-2 ng-custom ms-2">
          <ng-select placeholder="Select Date range" id="created_at" formControlName="created_at">
            <ng-option *ngFor="let dateFilter of dateFilters; let key = index;" [value]="dateFilter.code">{{ dateFilter.title }}</ng-option>
          </ng-select>
        </div>
        <div class="col-sm-2 ms-2">
          <div class="dp-hidden position-absolute">
            <div class="input-group">
              <input name="datepicker" class="form-control form-control-sm" ngbDatepicker #datepicker="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)"
                     [displayMonths]="1" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1" />
              <ng-template #t let-date let-focused="focused">
                    <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)"
                          (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null" > {{ date.day }} </span>
              </ng-template>
            </div>
          </div>
          <div class="input-group">
            <input  #dpFromDate class="form-control form-control-sm text-center" placeholder="yyyy-mm-dd" name="dpFromDate" [value]="formatter.format(fromDate)"
                    (input)="fromDate = validateInput(fromDate, dpFromDate.value)" (click)="datepicker.toggle()" />
            <input #dpToDate class="form-control form-control-sm text-center" placeholder="yyyy-mm-dd" name="dpToDate" [value]="formatter.format(toDate)"
                   (input)="toDate = validateInput(toDate, dpToDate.value)" (click)="datepicker.toggle()" />
            <button class="btn btn-outline-light btn-sm calendar" (click)="datepicker.toggle()" type="button">
              <i class="bx bx-calendar align-middle"></i>
            </button>
          </div>
        </div>
        <div class="col-sm-2 ng-custom ms-2">
          <ng-select name="pageSize" formControlName="status">
            <ng-option [value]="1">Active</ng-option>
            <ng-option [value]="0">Deactivate</ng-option>
          </ng-select>
        </div>
        <div class="col-sm-1 d-flex">
          <button class="btn btn-primary btn-sm ms-2" type="button"><i class="bx bx-search-alt align-middle"></i></button>
          <button class="btn btn-secondary btn-sm ms-2" type="button"><i class="bx bx-refresh align-middle"></i></button>
        </div>
      </form>
      <!-- End search -->
    </div>

    <!-- Table -->
    <div class="table-responsive placeholder-glow mt-2">
      <table class="table align-middle dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
        <thead>
        <tr class="bg-transparent">
          <th>Name</th>
          <th>Short Code</th>
          <th>Rack</th>
          <th>Category</th>
          <th>Unit</th>
          <th>Brand</th>
          <th>Color</th>
          <th>QTY</th>
          <th class="text-end">Cost</th>
          <th class="text-end">Price</th>
          <th class="text-center">Status</th>
          <th class="text-end">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of productList;let key = index;">
          <td>
            <img src="assets/images/default.jpg" class="rounded-1 avatar-sm" alt="">
          </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td class="text-end"> </td>
          <td class="text-end"> </td>
          <td class="text-center">
            <span class="badge badge-soft-success font-size-12">Active</span>
            <span class="badge badge-soft-warning font-size-12">Deactivated</span>
          </td>
          <td class="text-end">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-warning btn-sm"><i class="bx bx-tag-alt"></i></button>
              <button type="button" class="btn btn-primary btn-sm"><i class="bx bx-show-alt"></i></button>
              <button type="button" class="btn btn-success btn-sm"><i class="bx bx-edit-alt"></i></button>
              <button type="button" class="btn btn-danger btn-sm"><i class="bx bx-trash-alt"></i></button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- End table -->
    <div class="row justify-content-md-between align-items-md-center mt-2">
      <div class="col-sm-12 col-md-5">
        <span class="fs-12">{{ page | paginationText: pageSize:totalRecords }}</span>
      </div>
      <!-- Pagination -->
      <div class="col-sm-12 col-md-5">
        <div class="text-md-right float-md-end pagination-rounded">
          <ngb-pagination size="sm" [collectionSize]="totalRecords" [(page)]="page" [pageSize]="pageSize" [size]="'sm'"
                          [maxSize]="5" [rotate]="true" [boundaryLinks]="true" class="pagination"></ngb-pagination>
        </div>
      </div>
      <!-- End Pagination -->
    </div>
  </div>
</div>
<!-- end content row -->
