<!-- start page title -->
<app-pagetitle title="New Features" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<div class="card sidebar-alert border-0 text-center mx-4 mb-0">
  <div class="card-body">
    <img src="assets/images/giftbox.png" alt="">
    <div class="mt-4">
      <h5 class="alertcard-title font-size-16">Unlimited Access</h5>
      <p class="font-size-13">Upgrade your plan from a Free trial, to select ‘Business Plan’.</p>
      <a href="javascript:void(0);" class="btn btn-primary mt-2">Upgrade Now</a>
    </div>
  </div>
</div>
