<!-- start page title -->
<app-pagetitle title="Issues" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- end page title -->

<!-- start top menu row -->
<div class="row align-items-center">
  <div class="col-md-12">
    <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
      <div>
        <button href="javascript:void(0);" class="btn btn-primary btn-sm"><i class="bx bx-plus me-1"></i> Add New</button>
      </div>
    </div>
  </div>
</div>
<!-- end top menu row -->
